// COLORS

// Main Primary color */
$color-primary-light: #70ce41;
$color-primary-dark: #61be32;
$color-primary-darker: #51a826;
$color-primary-bleak: #418d1b;
$color-primary-greenblack: #25580c;

// Main Secondary color (1) */
$color-secondary-light: #e147e7;
$color-secondary-dark: #ca33cf;
$color-secondary-darker: #9f1fa3;

// Main Secondary color (2) */
$color-tertiary-light: #fffecb;
$color-tertiary-dark: #e7e49a;
$color-tertiary-darker: #c0bf78;

$color-white: #ffffff;
$color-black: #000000;


// FONT
$smaller-font-size: 1.3rem;
$default-font-size: 1.7rem;
$large-font-size: 2.5rem;
$big-font-size: 3.5rem;
$huge-font-size: 5rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 6rem;
$gutter-horizontal: 6rem;
