.u-center-text {
  text-align: center;
}

// Margin Bottom

.u-margin-bottom-huge {
  margin-bottom: 9rem;
}

.u-margin-bottom-big {
  margin-bottom: 6rem;
}

.u-margin-bottom-medium {
  margin-bottom: 3rem;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

// Margin TOP

.u-margin-top-big {
  margin-top: 6rem;
}

.u-margin-top-medium {
  margin-top: 3rem;
}

.u-margin-top-small {
  margin-top: 1.5rem;
}

// Padding Bottom

.u-padding-bottom-huge {
  padding-bottom: 9rem;
}

.u-padding-bottom-big {
  padding-bottom: 6rem;
}

.u-padding-bottom-medium {
  padding-bottom: 3rem;
}

.u-padding-bottom-small {
  padding-bottom: 1.5rem;
}

// Padding TOP

.u-padding-top-huge {
  padding-top: 9rem;
}


.u-padding-top-big {
  padding-top: 6rem;
}

.u-padding-top-medium {
  padding-top: 3rem;
}

.u-padding-top-small {
  padding-top: 1.5rem;
}

// GENERAL PADDING

.u-padding-standard {
  padding: 1.5rem;
}

.u-padding-big {
  padding: 3rem;
}
