.program {
  margin-top: -2.8rem;
  padding-top: 4rem;
  background-image: url(./assets/images/abstract-background.png);
  background-color: #1a1a1a;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
