.subscirbe-responsive {
  @media only screen and (max-width: $bp-medium) {
    width: 80%;
  }
}

.SubscribeTab {
  width: 100%;
  padding: 2rem 1rem;

  color: $color-white;
  text-align: center;

  display: flex;
  object-position: center;
  justify-content: space-around;
  align-items: center;

  @media only screen and (max-width: $bp-medium) {
    width: 100%;
    flex-wrap: wrap;
    text-align: center;
  }

  & h4 {
    font-size: $big-font-size;
    font-family: "Euforia", "Ubuntu", sans-serif;
    @media only screen and (max-width: $bp-medium) {
      width: 100%;
      display: block;
    }
  }

  &--email {
    order: 1;
    display: inline-block;
    padding: 1rem 1.5rem;
    width: 30rem;
    border-radius: 1rem;
    background-color: rgba($color-black, 0.5);
    box-shadow: inset 0 0 3px rgba($color-black, 0.5);
    border: 1px solid transparent;
    color: $color-primary-light;

    @media only screen and (max-width: $bp-medium) {
      display: block;
      width: 80%;
      margin-top: 2rem;
    }
  }
  &--checkBox {
    order: 2;
    display: inline-block;
  }

  & p {
    order: 3;
    font-size: $default-font-size;
    display: inline-block;
    font-family: "Euforia", "Ubuntu", sans-serif;
    letter-spacing: 1px;

    @media only screen and (max-width: $bp-medium) {
      display: block;
      width: 90%;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
  }

  &--button,
  &--button:visited {
    order: 4;
    font-family: "CocoBikeR", "Ubuntu", sans-serif;
    font-size: $large-font-size;
    margin-left: 1rem;
    margin-right: 1rem;
    display: inline-block;
    padding: 0.6rem 1.3rem;
    border-radius: 1rem;
    background-color: rgba($color-black, 0.5);
    box-shadow: inset 0 0 3px rgba($color-black, 0.5);
    border: 1px solid transparent;
    color: $color-secondary-light;
    cursor: pointer;
    transition: all 0.5s;

    &:hover {
      box-shadow: inset 0 0 3px rgba($color-secondary-dark, 0.5);
    }
  }
}
